.title {
    text-align: center;
    margin: 25px;
}

@media (min-width: 900px) {
    .forms > div > p {
        width: 10%;
        align-self: flex-start;
    }

    .forms > div.name-field > p {
        width: 10%;
        align-self: flex-start;

        margin-right: 24px;
    }
}

@media (max-width: 900px) {
    p {
        width: 20%;
        overflow-wrap: break-word;
    }
}
