body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 15px 15px;
}

.button {
    margin: 10px auto 0 auto;
    width: 53px;
}

@media (max-width: 900px) {
    .mobile-button-large {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 900px) {
    .mobile {
        display: none;
    }
}
