body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input {
    width: 80%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* text-align: center; */

    padding: 15px 15px;
}

.input-select {
    text-align: center;

    padding: 7px 5px;
}

.title {
    text-align: center;

    margin: 25px;
}

.forms {
    width: 80vw;
    /* max-width: 1000px; */

    margin: 0 auto;
}

.forms > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.forms > div > p {
    width: 10%;
    align-self: flex-start;
}

.forms > div.name-field > p {
    width: 10%;
    align-self: flex-start;

    margin-right: 24px;
}

.name-field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.name-field > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.name-title-field:first-child {
    margin-left: 0;
}

.name-field-input {
    /* width: 50%; */
    /* max-width: 460px; */
}

.name-field-input:first-child {
    margin-left: 0;
}

.input-field {
    width: 100%;
    max-width: 920px;
    /* margin-left: 5px; */
}

textarea {
    width: 100%;
    min-height: 200px;
    max-height: 1000px;
    resize: vertical;
}

.button {
    margin: 10px auto 0 auto;
    width: 53px;
}

.submit {
    padding: 5px 10px;
}
